@page "/registroarticulos";
@using _1er_ParcialAplicada2.Data;
@using _1er_ParcialAplicada2.Models;
@using _1er_ParcialAplicada2.Controllers;

<h2>Registro de Articulos</h2>
<EditForm Model="Articulo">

</EditForm>

@code{
    Articulos Articulo = new Articulos();
    
}
 